@media (max-width: 552px) {
  .timer {
    margin-top: 80px; /* Add margin above the timer */
    margin-left: 16px; /* Reset left margin if needed */
    margin-right: 0; /* Reset right margin if needed */
    position: relative; /* Ensure proper positioning */
    right: auto; /* Reset right positioning */
    top: auto; /* Reset top positioning */
    margin-bottom: 100px;
    /* height: 200%; */
  }
  .sponsor {
    padding-top: 20px;
    margin-top: 20px; /* Add margin above the timer */
    margin-left: 0; /* Reset left margin if needed */
    margin-right: 0; /* Reset right margin if needed */
    position: relative; /* Ensure proper positioning */
    right: auto; /* Reset right positioning */
    top: auto; /* Reset top positioning */
    margin-bottom: 20px;
  }
}
